RewriteEngine On
RewriteBase /MyRestaurant/

# Redirect /MyRestaurant/admin/pages/auth/signin.php to /MyRestaurant/admin/signin.php
RewriteRule ^admin/signin\.php$ admin/pages/auth/signin.php [L]

# Redirect /MyRestaurant/admin/pages/auth/signup.php to /MyRestaurant/admin/signup.php
RewriteRule ^admin/signup\.php$ admin/pages/auth/signup.php [L]

# Redirect /MyRestaurant/admin/pages/home.php to /MyRestaurant/admin/home.php
RewriteRule ^admin/home\.php$ admin/pages/home.php [L]

# Redirect /MyRestaurant/admin/pages/auth/changePass.php to /MyRestaurant/admin/changePass.php
RewriteRule ^admin/changePass\.php$ admin/pages/auth/changePass.php [L]

# Redirect /MyRestaurant/admin/pages/products/foods.php to /MyRestaurant/admin/food.php
RewriteRule ^admin/foods\.php$ admin/pages/products/foods.php [L]

# Redirect /MyRestaurant/admin/pages/products/ingredients.php to /MyRestaurant/admin/ingredients.php
RewriteRule ^admin/ingredients\.php$ admin/pages/products/ingredients.php [L]

# Redirect /MyRestaurant/admin/pages/orders/orders.php to /MyRestaurant/admin/orders.php
RewriteRule ^admin/orders\.php$ admin/pages/orders/orders.php [L]

# Redirect /MyRestaurant/admin/pages/admins/admins.php to /MyRestaurant/admin/admins.php
RewriteRule ^admin/admins\.php$ admin/pages/admins/admins.php [L]




# Redirect /MyRestaurant/customer/pages/home.php to /MyRestaurant/customer/home.php
RewriteRule ^customer/home\.php$ customer/pages/home.php [L]

# Redirect /MyRestaurant/customer/pages/products/menu.php to /MyRestaurant/customer/menu.php
RewriteRule ^customer/menu\.php$ customer/pages/products/menu.php [L]
